#side-menu {
  width: var(--menu-mobile);
  transform: translateX(-100%);
}

body.menu-open #side-menu { transform: translateX(0); }

body.menu-open #page-wrapper {
  transform: translateX(var(--menu-mobile));
  background: var(--gray-bg);
}

#overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
body.menu-open #overlay { opacity: 1; pointer-events: all; }
