/* Настройки для мобильных */
body[data-env="mobile"] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  color: #111;
  font-family: "Open Sans", system-ui, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

#side-menu {
  width: var(--menu-mobile);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
  transform: translateX(0);  /* Меню открыто по умолчанию */
  transition: transform 0.4s ease;
  z-index: 1000;
}

body[data-env="mobile"].menu-open #side-menu {
  transform: translateX(0);  /* Меню остаётся открытым */
}

body[data-env="mobile"].menu-open #overlay {
  opacity: 1;
  pointer-events: all;
}
